<!-- BryntumDemoHeader component is used for Bryntum example styling only and can be removed -->

<div class = "demo-app">
    <bryntum-demo-header></bryntum-demo-header>
    <div class = "demo-toolbar align-right">
        <bryntum-slide-toggle
            text = "Stripe Feature"
            [checked] = false
            (onAction) = "toggleStripeFeature($event)"
        ></bryntum-slide-toggle>
        <bryntum-slide-toggle
            text = "Column Lines Feature"
            [checked] = true
            (onAction) = "toggleColumnLinesFeature($event)"
        ></bryntum-slide-toggle>
    </div>
    <bryntum-scheduler
        #scheduler
        [barMargin] = "schedulerProps.barMargin"
        [columns] = "schedulerProps.columns"
        [endDate] = "schedulerProps.endDate"
        [events] = "schedulerProps.events"
        [mode] = "schedulerProps.mode"
        [resourceImagePath] = "schedulerProps.resourceImagePath"
        [resources] = "schedulerProps.resources"
        [resourceTimeRanges] = "schedulerProps.resourceTimeRanges"
        [resourceTimeRangesFeature] = "schedulerProps.resourceTimeRangesFeature"
        [rowHeight] = "schedulerProps.rowHeight"
        [smoothZoom] = "schedulerProps.smoothZoom"
        [startDate] = "schedulerProps.startDate"
        [viewPreset] = "schedulerProps.viewPreset"
        [stripeFeature] = "stripeFeature"
        [columnLinesFeature] = "columnLinesFeature"
    ></bryntum-scheduler>
</div>
