/* FontAwesome is not built-in, but used for icons */
@import "~@bryntum/schedulerpro/fontawesome/css/fontawesome.css";
@import "~@bryntum/schedulerpro/fontawesome/css/solid.css";

/* Bryntum structural CSS */
@import "~@bryntum/schedulerpro/schedulerpro.css";

/* Bryntum theme */
@import "~@bryntum/schedulerpro/svalbard-light.css";

/* Bryntum shared demo styling, not needed in your app */
@import "~@bryntum/demo-resources/scss/example-webpack.scss";

.color-box {
    width         : 1em;
    height        : 1em;
    flex-shrink   : 0;
    border-radius : 50%;
    background    : var(--b-primary-80);
}
