/* FontAwesome is not built-in, but used for icons */
@use "@bryntum/schedulerpro/fontawesome/css/fontawesome.css";
@use "@bryntum/schedulerpro/fontawesome/css/solid.css";

/* Bryntum structural CSS */
@use "@bryntum/schedulerpro/schedulerpro.css";

/* Bryntum theme is included in index.html to enable runtime theme switching, but it could instead be included here if you want to use a single theme */
/* @use "@bryntum/schedulerpro/svalbard-light.css"; */

/* Bryntum shared demo styling, not needed in your app */
@use "@bryntum/demo-resources/scss/example.scss";

.b-sch-event-wrap .b-sch-event {
    opacity          : .9;
    border-radius    : 2px;

    background-color : var(--b-primary-75);

    .b-sch-event-content {
        padding : 0 .3em;

        color   : var(--b-neutral-30);

        .desc {
            flex          : 1;
            text-align    : center;
            text-overflow : ellipsis;
            overflow      : hidden;
        }
    }
}

.order {
    font-size     : .8em;
    text-overflow : ellipsis;
    overflow      : hidden;

    color         : var(--b-neutral-40);
}

.b-task-percent-bar {
    mix-blend-mode   : multiply;
}

.b-scheduler-pro-task-editor {
    .b-date-time-field {
        .b-date-field .b-field-inner {
            border-inline-end : none;
        }

        .b-time-field {
            display : none;
        }
    }
}
