.b-scheduler-pro {
    .b-sch-event-content {
        overflow        : visible;
        flex-direction  : column;
        align-items     : flex-start;
        justify-content : center;
        gap             : 0;
    }
}

.assigned {
    overflow   : visible !important;
    margin-top : .3em;

    img {
        width             : 1.5em;
        height            : 1.5em;
        border-radius     : 100%;
        background        : var(--b-primary-80);
        margin-inline-end : .3em;
        transition        : transform .2s;
    }

    img:hover {
        transform : scale(1.6);
        z-index   : 1;
    }
}

.b-sch-non-working-time.factoryShutdown {
    background : transparent repeating-linear-gradient(-55deg, #dddddd99, #dddddd99 10px, #eeeeee99 5px, #eeeeee99 20px);
}

.unassigned {
    color : var(--b-neutral-60);
}
