/* FontAwesome is not built-in, but used for icons */
@use "@bryntum/schedulerpro/fontawesome/css/fontawesome.css";
@use "@bryntum/schedulerpro/fontawesome/css/solid.css";

/* Bryntum structural CSS */
@use "@bryntum/schedulerpro/schedulerpro.css";

/* Bryntum theme is included in index.html to enable runtime theme switching, but it could instead be included here if you want to use a single theme */
/* @use "@bryntum/schedulerpro/svalbard-light.css"; */

/* Bryntum shared demo styling, not needed in your app */
@use "@bryntum/demo-resources/scss/example.scss";

// Giving our scheduler some height
#root {
    height : 100vh;
}

.b-sch-event {
    --b-sch-event-font-weight : 400;

    .b-sch-event-content {
        align-items : center;
    }
}

.b-sch-event-header {
    font-size : .8em;
}

.b-sch-range {
    background : repeating-linear-gradient(-55deg, var(--b-neutral-95), var(--b-neutral-95) 10px, var(--b-neutral-90) 5px, var(--b-neutral-90) 20px);
    opacity    : 0.7;
}

