/* FontAwesome is not built-in, but used for icons */
@import "~@bryntum/schedulerpro/fontawesome/css/fontawesome.css";
@import "~@bryntum/schedulerpro/fontawesome/css/solid.css";

/* Bryntum structural CSS */
@import "~@bryntum/schedulerpro/schedulerpro.css";

/* Bryntum theme */
@import "~@bryntum/schedulerpro/svalbard-light.css";

/* Bryntum shared demo styling, not needed in your app */
@import "~@bryntum/demo-resources/scss/example-webpack.scss";

body #container .content-container.demo-app {
    flex           : 1 1 0;
    display        : flex;
    flex-direction : row;
    align-items    : stretch;

    > * {
        height : auto;
    }

    [data-ref=schedule] {
        flex : 1;
    }

    .equipmentGrid {
        flex                : 0 0 140px;
        border-inline-start : var(--b-splitter-size) solid var(--b-region-resize-splitter-color);

        .b-grid-header-text {
            display : none;
        }

        .b-grid-cell {
            cursor : pointer;
        }
    }
}

.b-sch-event-wrap .b-sch-event {
    border-top-width             : 7px;
    border-top-style             : solid;

    --b-sch-event-border-radius  : 3px;
    --b-sch-event-box-shadow     : var(--b-elevation-1);
    --b-sch-event-padding-inline : 0.75em;
    --b-sch-event-padding-block  : 0.5em;

    .b-sch-event-content {
        align-items    : stretch;
        gap            : 0;
        flex-direction : column;
    }
}

.b-equipment {
    flex-direction  : column;
    justify-content : center;

    i {
        margin-inline-end : 10px;
        font-size         : 2em;
        margin-bottom     : 0.3em;
    }
}

i.b-equipment-icon {
    color : #4887e5;

    &.b-dragging {
        position        : absolute;

        &:not(.b-drag-final-transition) {
            width      : 3em;
            height     : 3em;
            font-size  : 1.2em;
            background : var(--b-neutral-100);
            box-shadow : var(--b-elevation-2);

            &:not(.b-drag-invalid) {
                color : var(--b-color-green);
            }
        }

        display         : flex;
        align-items     : center;
        justify-content : center;
        border-radius   : 50%;
        opacity         : 1;
    }

    &.b-drag-final-transition {
        font-size : 1em;
        width     : 1em;
        height    : 1em;
    }

    &.b-drag-final-transition,
    &.b-aborting {
        transition-property : transform, font-size, width, height;
        transition-duration : 0.5s;
    }
}

.b-sch-event-startdate {
    opacity       : 0.6;
    margin-bottom : 0.2em;
}

.b-sch-event-name {
    font-weight : 600;
    flex        : 1;
}

.b-sch-event-equipment-wrap {
    display     : flex;
    align-items : center;
    padding     : 0;
    margin      : 0;
    min-height  : 1.7em;

    li.fa {
        margin-inline-end : 0.7em;
    }
}

[data-ref=equipment] {
    .b-grid-header-text {
        display : none;
    }
}

.b-grid-header {
    height                      : 57px;

    --b-text-field-input-height : 100%;

    .b-filter-bar-field {
        margin-bottom : 0;
    }
}

