/* FontAwesome is not built-in, but used for icons */
@use "@bryntum/schedulerpro/fontawesome/css/fontawesome.css";
@use "@bryntum/schedulerpro/fontawesome/css/solid.css";

/* Bryntum structural CSS */
@use "@bryntum/schedulerpro/schedulerpro.css";

/* Bryntum theme is included in index.html to enable runtime theme switching, but it could instead be included here if you want to use a single theme */
/* @use "@bryntum/schedulerpro/svalbard-light.css"; */

/* Bryntum shared demo styling, not needed in your app */
@use "@bryntum/demo-resources/scss/example.scss";


body #main.demo-app {
    display        : flex;
    flex-direction : row;
    flex           : 1;

    .b-config-panel {
        flex-grow : 0;
    }
}

.b-scheduler-pro {
  --b-sch-event-box-shadow          : var(--b-elevation-1);
  --b-sch-event-background          : var(--b-neutral-98);
  --b-sch-event-hover-background    : var(--b-neutral-96);
  --b-sch-event-selected-background : var(--b-neutral-94);
}

.b-sch-event-wrap {
  .b-sch-event {
      border-top : 2px solid var(--b-color-blue);
  }

  .b-sch-event-content {
      > i:first-child {
          display     : flex;
          align-items : center;
          font-size   : 1.3em;
      }

      div {
          flex : 1;
      }

      * {
          color         : var(--b-neutral-40);
          overflow      : hidden;
          text-overflow : ellipsis;
      }
  }

  .fa-check {
      margin-inline-start : .5em;
  }
}

.b-color-red .b-sch-event {
  border-color : var(--b-color-red);
}

.b-color-green .b-sch-event {
  border-color : var(--b-color-green);
}

.b-sch-event-tooltip {
  min-width : 15em;

  dl {
      margin : 0;
  }

  dt, dd {
      margin-inline-start : 0;
  }

  dt {
      font-weight   : bold;
      margin-bottom : .5em;
  }

  dd {
      display     : flex;
      align-items : center;

      &:not(:last-child) {
          margin-bottom : 1.5em;
      }

      .b-icon {
          margin-inline-end : 0.5em;
      }
  }
}

.b-sch-highlighted-range {
  font-size : 0.9em;
}

.b-event-name {
  font-weight : bold;
}

.b-resource-avatar.b-icon {
  font-size : 1.2em;
}

.b-patient {
  font-size  : 0.8em;
  margin-top : 0.5em;
}

.b-sch-header-row:first-child .b-sch-header-time-axis-cell {
  font-weight : bold;
}
